{% extends 'wave/base.html' %}

{% block title %} Home  {% endblock %}


{% block body_block %}

  <h1>Hello World!</h1>
  {% if version %}   League of Legends is currently on patch {{ version }} {{ one }} <br />
  {% else %}
  No patch version available. {{ moo }}
  {% endif %}

  <div class="hero-unit">
	<h1>Look up a summoner!</h1>
	<br />

	<div class="container-fluid">
	  <form class="form-signin span8" method="post" id="user_form" action="/wave/">
		{% csrf_token %}
		<input type="text" name="query" value="" id="query" size="50"/>
		<input class="btn btn-primary" type="submit" name="submit" value="Search" />
		<br />
	  </form>

	  {% if name %}
		<div style="clear:both;">
			You are currently looking up summoner <strong>{{ name }}. </strong> <br />
			He recently played a game with the following players:
			{% if teammates %}
			  <ol>
				{% for name, stats in teammates %}
				  <li> {{ name }} </li>
				  <ul>
					{% for s_name, s_val in stats %}
					  <li> {{ s_name }}: {{ s_val }}  </li>
					{% endfor %}
				  </ul>
			    {% endfor %}
			  </ol>
		    {% endif %}
		</div>
	  {% endif %}
	</div>
  </div>

{% endblock %}
